/* CSS Document */

.StackGroup {
    display : inline-block;
    border: ridge gray;
    background-color: sandybrown;
}

.stackContainer{
    display: table-caption;
    border: ridge lightblue;
    background-color: antiquewhite;
}

.stackTable{
    width : 242px;
    border: 1px solid black;
}

.troopsContainer{
    height: 100px;
    overflow: auto;
}

.troopsTable{
    border: 1px solid black;
    width:100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}